html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  height: 100%;
}

.hidden {
  display: none;
}

#output {
  flex: 1;
  object-fit: contain;
}